*{
	margin:0;
	padding:0;
}

@font-face{
	font-family:titulos1;
	src:url("../fuentes/propiacav.ttf");
}

.menu_bar, .movil{
	display:none;
}

nav a, h1, h2, footer, aside{
	font-family:titulos1;
}

div.escritorio{
	padding:10px 0px;
	margin:auto;
	text-align:center;
}

div.contenido{
	background: rgba(255,255,255,.2); 
}

body{
	background:#000000;
	width:90%;
	margin:auto;
	background-image:url("../imagenes/bg.png");
	background-size:repeat;
}

header{
	width:100%;
}

header h1{
	text-shadow: 1px 1px 5px #fff;
}

nav{
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}

header nav{
	width:100%;
	background:#000000;
	text-transform: uppercase;
	box-shadow: 0px 3px #757575;
}

header nav ul{
	overflow:hidden;
	list-style:none;
	display:inline-block;
}

header nav ul li{
	float:left;
	border-bottom:solid 1px #FFFFFF;
	margin-left:10px;
}

header nav ul li a{
	color:#fff;
	padding:15px;
	display:block;
	text-decoration:none;
}

header nav ul li span{
	margin-right:10px;
}

header nav ul li a:hover{
	background:#C55A07;
}

div.cuerpo{
	padding:10px;
}

section h1, section h2{
	margin-bottom:10px;
}

section img{
	display:block;
	margin:auto;
	margin-bottom:10px;
}

article{
	border-radius: 10px;
	background-color:#FFFFFF;
	padding:10px;
	border: 1px solid #ddd;
}

p{
	font-size:20px;
}

section h2{
	text-align:center;
	border-radius: 10px;
	background-color:#FFF;
	color:#000;
	padding:10px;
	border: 1px solid #ddd;
	width:85%;
	text-transform: uppercase;
	box-shadow: 0px 3px #757575;
}

h2, h3{
	font-size:25px;
}

article h3{
	border-bottom: 1px solid #ddd;
	margin-bottom:7px;
	padding:5px;
}

aside{
	text-align:center;
	border-radius: 10px;
	background-color:#000000;
	padding:15px;
	color:#FFFFFF;
}

aside h3{
	margin-bottom:10px;
}

article{
	width:85%;
	box-shadow: 0px 3px #757575;
}

article p{
	text-align: justify;
}

aside{
	width:11%;
	float:right;
	box-shadow: 0px 3px #757575;
}

#seleccion{
	border-bottom:solid 1px #FFAC11;
}

#seleccion a{
	color:#FFAC11;
}

div.separador{
	margin-top:10px;
}

iframe{
	width:100%;
}

footer{
	padding:5px;
	text-align:center;
	color:#FFFFFF;
	background-color: #000000;
	box-shadow: 0px 3px #757575;
	border-radius: 0px 0px 10px 10px;
}

.margen_superior{
	margin-top:10px;
}

.fecha{
	text-align:center;
}

table{
	margin-top:10px;
	width:100%;
}

table th{
	background-color:#FEBC57;
	color:#000;
}

table, th, td {
	font-size:20px;
	padding:5px;
	border: 2px solid #757575;
	border-collapse: collapse;
}

tr:hover{
	background-color:#FFF59D;
	font-weight: bold;
}



