@media screen and (max-width:800px){
	.escritorio, footer{
		display:none;
	}
	
	.movil{
		display:block;
	}
	
	header nav{
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position:fixed;
		overflow:scroll;
	}
	
	body{
		width:100%;
		background-color:#FFFFFF;
		background-image:url("../imagenes/bgs.png");
		background-size:repeat;
	}
	
	header nav ul li{
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	
	nav{
		text-align: left;
	}
	
	header nav ul{
		display:block;
	}
	
	header nav ul li{
		border-bottom:solid 1px #424242;
		margin-left:0px;
	}
	
	header nav ul li a{
		padding:20px;
	}
	
	.menu_bar{
		display:block;
		width:100%;
		background:#ccc;
	}
	
	.menu_bar .bt-menu{
		display:block;
		padding:15px;
		background-color:#000000;
		color:#FFFFFF;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		box-sizing:border-box;
	}
	
	nav ul{
		margin-top:65px;
		z-index:1;
	}
	
	div.menu_bar{
		position:fixed;
		z-index:2;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	
	div.menu_bar span{
		float:right;
		font-size:30px;
	}
	
	section{
		margin-top:60px;
	}
	
	article{
		margin:auto;
		width:96%;
	}
	
	section h2{
		width:96%;
	}
}
