/* ------------------------------------------------------
			Posicionamiento CSS Generico
------------------------------------------------------ */

/* ################# Elementos generales ################# */
*{
	margin: 0;
	padding: 0;
}

.menu_bar, .movil{
	display: none;
}

div.escritorio{
	padding: 10px 0px;
	margin: auto;
}



/* ################# Cuerpo ################# */
body{
	width: 90%;
	margin: auto;
}



/* ################# Header ################# */
header{
	width: 100%;
}

header nav{
	width: 100%;
}

header nav ul{
	overflow: hidden;
	list-style: none;
	display: inline-block;
}

header nav ul li{
	float: left;
	margin-left: 10px;
}

header nav ul li a{
	padding: 15px;
	display: block;
}

header nav ul li span{
	margin-right: 10px;
}

.progreso-lectura{
	display: none;
	position: fixed;
	margin-top:0px;
	width: 90%;
	height:5px;
	top: 0px;
	z-index: 5;
}



/* ################# Cuerpo (articulos y secciones) ################# */
div.cuerpo{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

section img{
	display: block;
	margin: auto;
}

article{
	margin-bottom: 10px;
	padding: 10px;
}

.btn-arriba{
	display: none;
	padding: 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
}



/* ################# Elementos de texto ################# */
section h2{
	padding: 10px;
}

section h1, section h2{
	margin-bottom: 10px;
}

article h3{
	margin-bottom: 7px;
	padding: 5px;
}



/* ################# Tabla ################# */
table{
	margin-top: 10px;
	width: 100%;
}

table, th, td {
	padding: 5px;
}



/* ################# Articulo especial ################# */
article.especial h3{
	margin-bottom: 2px;
}

div.caratula{
	width: 17%;
	position: relative;
	display: inline-block;
}

div.caratula img{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}

div.caratula p{
	padding: 3px;
	position: absolute;
	bottom: 3px;
	right: 3px;
}




div.caratula2{
	width: 8%;
	position: relative;
	display: inline-block;
}

div.caratula2 img{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}



div.descripcion, div.descripcion2{
	vertical-align: top;
	height: 100%;
	width: 63%;
	margin-left: 10px;
	display: inline-block;
}

div.descripcion2{
	width: 72%;
}

div.descripcion h3, div.descripcion2 h3{
	padding: 0px;
}

div.descarga{
	vertical-align: top;
	display: inline-block;
	width: 18%;
}

div.descarga a{
	position: relative;
	display: block;
	padding: 10px;
	margin: 5px;
}



/* ################# Pie de la pagina ################# */
footer{
	padding: 5px;
}
