/* ------------------------------------------------------
				Posicionamiento CSS Movil
------------------------------------------------------ */

/* ¡IMPORTANTE! Si se cambia de aqui el tamanio cambialo en el otro CSS tambien */
@media screen and (max-width:1300px){
/* ################# Elementos generales ################# */
.escritorio, div.caratula_articulo.escritorio, footer{
	display: none;
}

.movil{
	display: block;
}

.no_en_movil{
	display: none;
}


/* ################# Cuerpo ################# */
body{
	width: 100%;
}



/* ################# Header ################# */
header nav{
	position: fixed;
	overflow: scroll;
	width: 55%;
	height: 100%;
	left: -100%;
	margin: 0;
	z-index: 1;
}

header nav ul{
	display: block;
	margin-top: 56px;
}

header nav ul li{
	display: block;
	float: none;
	margin-left: 0px;
}

header nav ul li a{
	padding: 20px;
}

div.menu_bar{
	display: block;
	width: 100%;
	position: fixed;
	z-index: 2;
}

.progreso-lectura{
	margin-top:51px;
	width: 100%;
}

div.menu_bar .bt-menu{
	display: block;
	padding: 15px;
}

div.menu_bar span{
	float: right;
}



/* ################# Cuerpo (articulos y secciones) ################# */
section.primera_seccion{
	margin-top: 53px;
}

div.cuerpo{
	padding: 7px;
}

article, section h2{
	margin: auto;
	margin-bottom: 10px;
}



/* ################# Articulo especial ################# */

div.descripcion_pc, div.descripcion_app, div.descripcion_articulo, div.caratula_pc, div.caratula_app, div.caratula_articulo.movil, div.descarga{
	float: none;
	display: block;
	width: 100%;
}

div.descripcion_pc, div.descripcion_app, div.descripcion_articulo{
	margin-left: 0px;
}

div.caratula_pc, div.caratula_app, div.caratula_articulo.movil{
	max-width: 500px;
	margin:auto;
}

div.caratula_app{
	max-width: 128px;
}

div.caratula_articulo.movil{
	max-width: 200px;
}

div.descripcion_pc h3, div.descripcion_app h3{
	margin-top: 7px;
}

div.descarga{
	margin-top: 10px;
}

} /* Fin hoja movil */
