/* ------------------------------------------------------
				Estilos CSS Generico
------------------------------------------------------ */

/* ################# Propiedades CSS ################# */
:root{
	--color-contenido: rgba(255,255,255,.3);
	--color-negro-alfa: rgba(150,150,150,.3);
	--color-fondo-def: #CEBAAE;
	--color-blanco: #FAFAFA;
	--color-grisaceo-claro: #EEEEEE;
	--color-grisaceo2: #424242;
	--color-grisaceo3: #DADADA;
	--color-verde: #007F6B;
	--color-verde-claro: #A5D6A7;
	--color-magenta: #D81B60;
	--color-azul: #30599F;
	--color-azul-claro: #29B6F6;
	--color-negro: #000000;
	--color-sombras: #757575;
	--color-linea-titulo: #DDDDDD;
	--color-linea-borde: #8a8a8a;
	--color-naranja: #C55A07;
	--color-menu-seleccion: #FFAC11;
	--color-cabecera-tabla: #FEBC57;
	--color-tabla-seleccion: #FFF59D;
	--color-h2-principal: #FED4B9;
	--color-h2-secundario: #FEEAC3;
	--color-celda-par: #FFFDE7;
	--color-celda-impar: #FFF3E0;
	--tamanio-titulo1: 32px;
	--tamanio-titulo2: 25px;
	--tamanio-texto: 20px;
	--tamanio-texto-fecha: 20px;
	--tamanio-texto-peque: 16px;
}



/* ################# Cuerpo ################# */
body{
	/* El fondo y color de la web varia en funcion de la estacion, esto se controla desde "controlador.js". */
	background-repeat: repeat;
	background-color: var(--color-fondo-def);
}

div.contenido{
	background: var(--color-contenido);
}



/* ################# Header ################# */
header{
	background: var(--color-negro-alfa);
}

header h1, header h3{
	text-shadow: 0px 0px 15px var(--color-celda-par);
}

header nav{
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	background: var(--color-negro);
	text-transform: uppercase;
	box-shadow: 0px 3px var(--color-sombras);
}

header nav ul li{
	border-bottom: solid 1px var(--color-blanco);
	text-shadow: 1px 1px 5px var(--color-negro);
}

header nav ul li a{
	text-decoration: none;
	color: var(--color-blanco);
}

header nav ul li a:hover{
	background: var(--color-naranja);
}


progress {
  background: transparent;
  border: none;
}

progress {
  color: var(--color-menu-seleccion);
}

progress::-moz-progress-bar {
  background: var(--color-menu-seleccion);
}

progress::-webkit-progress-value {
  background: var(--color-menu-seleccion);
}

progress::-webkit-progress-bar {
  background: transparent;
}


/* ################# Cuerpo (articulos y secciones) ################# */
article{
	border: 1px solid var(--color-linea-borde);
	border-radius: 20px 10px 30px 10px;
	background-color: var(--color-blanco);
	box-shadow: 2px 3px var(--color-sombras);
}

.btn-ver-qr{
	background-color: var(--color-grisaceo-claro);
	color: var(--color-negro);
	text-align: center;
	cursor: pointer;
	width: 20%;
	margin: auto;
	border-radius: 50px;
	border: 1px dashed  var(--color-linea-borde);
	box-shadow: 2px 3px var(--color-linea-borde);
	
	padding: 5px;
	margin-top: 10px;
}

.img-qr{
	display: none;
	margin-top: 10px;
}

.btn-arriba{
	background-color: var(--color-menu-seleccion);
	color: var(--color-blanco);
	cursor: pointer;
	border-radius: 50px;
	opacity: 0.6;
	border: 1px solid var(--color-blanco);
}

.btn-arriba:hover{
	opacity: 0.9;
}

span.icono_resaltado{
	background-color: var(--color-celda-impar);
	border-radius: 50px 150px 100px 0px;
	border: 1px solid var(--color-linea-borde);
	box-shadow: 0px 3px 2px var(--color-grisaceo2);
}



/* ################# Elementos de texto ################# */
@font-face{
	font-family: titulos1;
	src: url("../fuentes/PatrickHand-Regular.ttf");
}

nav a, h1, h2, footer, aside, div.descarga, p.texto-instagram > a{
	font-family: titulos1;
}

div.escritorio{
	text-align: center;
}

p, article ul{
	font-size: var(--tamanio-texto);
}

.letra-peque{
	margin-top: 10px;
	font-size: var(--tamanio-texto-peque);
}

p.texto-instagram{
	text-align: right;
}

p.texto-instagram > a{
	font-size: var(--tamanio-titulo1);
	color: var(--color-magenta);
}


h1{
	font-size: var(--tamanio-titulo1);
}

h2, h3{
	font-size: var(--tamanio-titulo2);
}

h3.separacion{
	margin-top: 20px;
}

h4{
	font-size: var(--tamanio-titulo2);
	margin-top: 10px;
}

section h2{
	text-align: center;
	border-radius: 20px;
	background-color: var(--color-h2-principal);
	color: var(--color-negro);
	border: 2px solid var(--color-negro);
	text-transform: uppercase;
	box-shadow: 2px 3px var(--color-sombras);
}

h2.btn_contraer_pc, h2.btn_contraer_app{
	background-color: var(--color-h2-secundario);
	cursor: pointer;
}

h2.btn_contraer_pc:hover, h2.btn_contraer_app:hover{
	background-color: var(--color-cabecera-tabla);
}

section h2 span{
	font-size: 18px;
}

article h3{
	border-bottom: 1px solid var(--color-linea-borde);
}

article p, article ul{
	text-align: justify;
}

article ul{
	margin-top: 5px;
	padding-left: 10px;
	list-style-type: square;
	list-style-image: url(../imagenes/list.png);
	list-style-position: inside;
}

article li{
	margin-top: 2px;
}

.link, article a{
	text-decoration: none;
	color: var(--color-azul);
	font-weight: bold;
}

span.pildora{
	text-decoration: none;
	font-weight: bold;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--color-azul);
	border-radius: 15px;
	color: var(--color-blanco);
	font-size: 12px;
	vertical-align: top;
}


/* ################# Tabla ################# */
table th{
	background-color: var(--color-cabecera-tabla);
	color: var(--color-negro);
}

table, th, td {
	font-size: var(--tamanio-texto);
	border: 2px solid var(--color-grisaceo3);
	border-collapse: collapse;
}

tr{cursor: pointer;}
tr:nth-child(even){background-color: var(--color-celda-par);}
tr:nth-child(odd){background-color: var(--color-celda-impar);}
tr:hover{background-color: var(--color-tabla-seleccion);}

.fecha{
	text-align: center;
	font-weight: bold;
	font-size: var(--tamanio-texto-peque);
}

#seleccion{
	border-bottom: solid 1px var(--color-menu-seleccion);
}

#seleccion a{
	color: var(--color-menu-seleccion);
}



/* ################# Articulo especial ################# */
div.caratula img, div.caratula2 img{
	border: solid 1px var(--color-linea-borde);
	border-radius: 10px;
	box-shadow: 1px 1px 2px var(--color-negro);
}

div.caratula p{
	color: var(--color-blanco);
	text-shadow: 2px 2px 5px var(--color-negro);
}

div.descripcion h3, div.descripcion2 h3{
	border: none;
}

div.descarga a{
	background-color: var(--color-verde);
	color: var(--color-blanco);
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	text-shadow: 2px 2px 10px var(--color-verde-claro);
	box-shadow: 0px 3px 2px var(--color-grisaceo2);
}

div.descarga a.play_store{
	background-color: var(--color-azul);
	text-shadow: 1px 1px 7px var(--color-azul-claro);
}

div.descarga a.sourceforge{
	background-color: var(--color-grisaceo2);
	color: var(--color-menu-seleccion);
	text-shadow: 2px 2px 10px var(--color-naranja);
}

div.descarga a:hover{
	background-color: var(--color-naranja);
	text-shadow: 2px 2px 10px var(--color-negro);
	box-shadow: 3px 3px 10px var(--color-naranja);
}



/* ################# Pie de la pagina ################# */
footer{
	text-align: center;
	color: var(--color-blanco);
	background-color: var(--color-negro);
	box-shadow: 0px 3px var(--color-sombras);
	border-radius: 0px 0px 10px 10px;
}
