/* ------------------------------------------------------
				Estilos CSS Movil
------------------------------------------------------ */

/* ¡IMPORTANTE! Si se cambia de aqui el tamanio cambialo en el otro CSS tambien */
@media screen and (max-width:1300px){
/* ################# Propiedades CSS ################# */
:root{
	--color-blanco: #FFFFFF;
	--color-negro: #000000;
	--color-lineas-menu: #424242;
	--color-linea-barra-sup: rgba(255,255,255, .3);
	--color-contenido: rgba(255,255,255, .3);
	--color-negro-transparente: rgba(0,0,0, .9);
}



/* ################# Header ################# */
div.imagenes_link > a > abbr > img{
	width: 30%;
	max-width: 128px;
	opacity: 1;
}

header nav{
	text-align: left;
	background-color: var(--color-negro-transparente);
}

header nav ul li{
	border-bottom: solid 1px var(--color-lineas-menu);
}

div.menu_bar{
	border-bottom: 1px solid var(--color-linea-barra-sup);
	vertical-align: center;
	cursor: pointer;
}

div.menu_bar .bt-menu{
	background-color: var(--color-negro);
	color: var(--color-blanco);
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

div.menu_bar span{
	font-size: 25px;
}
	
} /* Fin hoja movil */
